In [13]:
import pandas as pd
import os #helps me navigate with my folders as had issues locating folders for the files and print(os.getcwd)) does magic!

In [14]:
df = pd.read_csv('../data/sample_data.csv')

In [15]:
print('Data preview:')
print(df.head(), '\n')
print('Columns:')
print(df.columns, '\n')

Data preview:
  Data operacji Data waluty        Typ transakcji   Kwota Waluta  \
0    2025-07-01  2025-07-01        Płatność kartą   -45.6    PLN
1    2025-07-02  2025-07-02  Przelew przychodzący  1500.0    PLN
2    2025-07-03  2025-07-03      Wypłata bankomat  -200.0    PLN
3    2025-07-04  2025-07-04        Płatność kartą  -120.3    PLN
4    2025-07-05  2025-07-05    Przelew wychodzący  -350.0    PLN

   Saldo po transakcji       Opis transakcji Kolumna8 Kolumna9 Kolumna10  \
0               9954.4     Sklep spożywczy X     X123     X567      X324
1              11454.4    Wynagrodzenie ACME     X234     X765      X112
2              11254.4  Bankomat PKO Wrocław     X876     X543      X210
3              11134.1           Restauracja     X432     X111      X876
4              10784.1     Czynsz mieszkanie     X654     X777      X908

  Kolumna11 Kolumna12
0      X888      X654
1      X999      X321
2      X765      X908
3      X345      X222
4      X432      X109

Columns:
Index(['Data operacji', 'Data waluty', 'Typ transakcji', 'Kwota', 'Waluta',
       'Saldo po transakcji', 'Opis transakcji', 'Kolumna8', 'Kolumna9',
       'Kolumna10', 'Kolumna11', 'Kolumna12'],
      dtype='object')

In [16]:
#Let's convert 'Kwota' colums to numbers with .to_numeric function from Pandas
df['Kwota'] = pd.to_numeric(df['Kwota'], errors = 'coerce')

In [17]:
#Let's separate incomes and expenses and sum them up
incomes = df[df['Kwota'] > 0]['Kwota'].sum()
expenses = df[df['Kwota'] < 0]['Kwota'].sum()

In [18]:
print(f'Sum of incomes: {incomes:.2f}')
print(f'Sum of expenses: {expenses:.2f}')
print(f'Balance: {incomes + expenses:.2f}')

Sum of incomes: 6000.00
Sum of expenses: -4087.47
Balance: 1912.53